{
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "presets": [
    "react",
    [
      "env",
      {
        "debug": true,
        "modules": false,
        "targets": {
          "browsers": [
            "> 1% in my stats"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ]
}
