# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: required
dist: trusty
language: node_js
node_js:
- '8'
notifications:
  email: false
before_install:
  - echo "We can put normal shell commands here"
  - sudo chown -R $USER:USER ./temp
  - npm run find
deploy:
  provider: heroku
  api_key:
    secure: C/NrVJPh8D3pgtQbYjgRKS5j24jEr5TM+9vvg9oM1lWWLmQjnGVctdgYJQPOQrIgDk9NUr9iWGOEAbBKhKRQUq23sB0G2veJDQlOo1YJjmJVcn6CpEgxXJ6MRzxm8yP4Dso0FGBwRrtLbT3G+wgUa8/huhWzeNXrC5kiUMb9YO49pjnj3KGex2tlRVacx2gveJ3V2EhaKL3BiF7wP2TYAYNn5Rm+BTMLLtjmxNPreZtXcqDbfftRVQMB0TOgqR3Tt9U3wTTe0HIBPiOfPwnYuDMEnB4/Vk/IBwLfRdGF6gL0Kt0sUxEsWPsJCt3gANdkJvcKkl5z8ihZhmGSEQIBlYrfWbrCD0Qra8wKaKBWIT8LTj28NJXeA8PSHYaTG+Bq50bAChuDyj0tWLoqBWiityz5KKOTtDuxAl7cG5HMfkoTRP4JHiahkdx3tIK50uyixiVuJuv3TXmy9GURmYL2TnL9lTRtazFwQc5wsBOmF/6R9W2LsnzTR5rvZVY5dGztWMwKhTtg7ohbqLrNiZewSIDQeUdMTuq4b/d4h2vX4bwA9FuK3z2kSi453sUwScrMVNKmvroL3DS7HoHlJILInGyeiE5SVKKuTbI4gjOn4sjPWLTmNBxP4u1TX7Mf0J7JnvEY0blkWqLpJUj0rF7pxAdqfhYnIBSAC5IdxhntCc0=
  app:
    master: vast-tundra-27793
